#root{
    height: 100vh;
}

.container-main a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
    width: auto;
}

.container-main a:hover {
    background-color: #0056b3;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

#reserv {
    background-color: #28a745;
}
  